@model IEnumerable<SimiiformesWebApplication.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Kapcsolatok <a asp-action="Create"><i class="fa-solid fa-circle-plus fa-xl" style="color: #31a53f;"></i></a></h1>

<p style="float:right">
    
    <a asp-action="Deleted">Törölt kapcsolatok</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Név
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Email)
            </th>*@
            <th>
                Cég/Szervezet
            </th>
            <th>
                Pozíció/Tisztség
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.ImagePath) alt="portre" style="height:100px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>

            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square fa-xl" style="color: #2739c4;"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info fa-xl" style="color: #2739c4;"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash fa-xl" style="color: red;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
